<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
                  <!-- Page Heading -->
                  <div class="typo-line">
                      <div class="category">
                          <h1 class="pe-7s-network"></h1>
                      </div>
                      <blockquote>
                          <p>
                              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
                          </p>
                          <small>
                              Steve Jobs, CEO Apple
                          </small>
                      </blockquote>
                  </div>

              <div class="card">
                  <div class="header">
                      <h4 class="title">Striped Table with Hover</h4>
                      <p class="category">Here is a subtitle for this table</p>
                  </div>
                  <div class="content table-responsive table-full-width">
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
