<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">Add News</h4>
          </div>
          <div class="content">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Judul Berita</label>
                    <input type="text" class="form-control" placeholder="Home Address"
                      value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                  </div>
                </div>
              </div>


               <!-- Image Preview & File Input-->              
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Ilustrasi Gambar</label>
                    <div class="preview" *ngIf="preview && preview !== null">
                      <img [src]="preview" [alt]="form.value.name">
                    </div>
                  </div>

                  <div class="form-group">
                    <input type="file" (change)="uploadFile($event)">
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Deskripsi Berita</label>
                    <textarea rows="5" class="form-control" placeholder="Here can be your description"
                      value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-info btn-fill pull-right">Create News</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-user">
          <div class="image">
            <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400"
              alt="..." />
          </div>
          <div class="content">
            <div class="author">
              <a href="#">
                <img class="avatar border-gray" src="assets/img/faces/face-1.jpg" alt="..." />

                <h4 class="title">Administrator<br />
                  <small>admin@prabugeusan.com</small>
                </h4>
              </a>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>