<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
                  <!-- Page Heading -->
                  <div class="typo-line">
                      <div class="category">
                          <h1 class="pe-7s-user-female"></h1>
                      </div>
                      <blockquote>
                          <p>
                              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
                          </p>
                          <small>
                              Steve Jobs, CEO Apple
                          </small>
                      </blockquote>
                  </div>
                  <div class="row">
                      <div class="col-sm-6 col-md-4">
                        <div class="card">
                            <div class="card-image-1"></div>
                            <div class="card-text">
                              <span class="date">COLLECTOR</span>
                              <h2>Kolektor</h2>
                              <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
                            </div>
                            <div class="card-stats">
                              <div class="stat">
                                <div class="value">K - xxx</div>
                                <div class="type">ID Holder</div>
                              </div>
                              <div class="stat border">
                                <!-- <div class="value">5123</div>
                                <div class="type">views</div> -->
                              </div>
                              <div class="stat">
                                <div class="type"><a [routerLink]="['/colector']" href="">See More >>></a> </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-sm-6 col-md-4">
                        <div class="card">
                            <div class="card-image-2"></div>
                            <div class="card-text">
                              <span class="date">DEVISOR</span>
                              <h2>Pewaris</h2>
                              <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
                            </div>
                            <div class="card-stats">
                              <div class="stat">
                                <div class="value">D - xxx</div>
                                <div class="type">ID Holder</div>
                              </div>
                              <div class="stat border">
                                <!-- <div class="value">5123</div>
                                <div class="type">views</div> -->
                              </div>
                              <div class="stat">
                                <div class="type"><a [routerLink]="['/devisor']" href="">See More >>></a> </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-sm-6 col-md-4">
                        <div class="card">
                            <div class="card-image-3"></div>
                            <div class="card-text">
                              <span class="date">ORGANIZATIONS</span>
                              <h2>Organisasi</h2>
                              <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
                            </div>
                            <div class="card-stats">
                              <div class="stat">
                                <div class="value">O - xxx</div>
                                <div class="type">ID Holder</div>
                              </div>
                              <div class="stat border">
                                <!-- <div class="value">5123</div>
                                <div class="type">views</div> -->
                              </div>
                              <div class="stat">
                                <div class="type"><a [routerLink]="['/organization']" href="">See More >>></a> </div>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
                
          </div>
      </div>
  </div>
</div>
