<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Page Heading -->
                <div class="typo-line">
                    <div class="category">
                        <h1 class="pe-7s-news-paper"></h1>
                    </div>
                    <blockquote>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
                        </p>
                        <small>
                            Steve Jobs, CEO Apple
                        </small>
                    </blockquote>
                </div>
                
                <div class="container-fluid">
                    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="goToAddNews()">Tambah Berita</button>
                </div>

                <div class="row">
                    <article class="card fl-left">
                        <section class="date">
                            <div class="image">
                                <img src="https://unsplash.it/500/300" alt="image" />
                              </div>
                        </section>
                        <section class="card-cont">

                            <h3>live in sydney</h3>
                            <div class="even-date">
                                <i class="fa fa-quote-right"></i>
                                <time>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
                                </time>
                            </div>
                            <div class="even-info">
                                <i class="fa fa-user-circle"></i>
                                <p>
                                    Administrator
                                </p>
                            </div>
                            <a href="#">See Detail</a>
                        </section>
                    </article>
                </div>
                <div class="row">
                    <article class="card fl-left">
                        <section class="date">
                            <time datetime="23th feb">
                                <span>23</span><span>feb</span>
                            </time>
                        </section>
                        <section class="card-cont">
                            <h3>live in sydney</h3>
                            <div class="even-date">
                                <i class="fa fa-quote-right"></i>
                                <time>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
                                </time>
                            </div>
                            <div class="even-info">
                                <i class="fa fa-user-circle"></i>
                                <p>
                                    Administrator
                                </p>
                            </div>
                            <a href="#">See Detail</a>
                        </section>
                    </article>
                </div>
                <div class="row">
                    <article class="card fl-left">
                        <section class="date">
                            <time datetime="23th feb">
                                <span>23</span><span>feb</span>
                            </time>
                        </section>
                        <section class="card-cont">
                            <h3>live in sydney</h3>
                            <div class="even-date">
                                <i class="fa fa-quote-right"></i>
                                <time>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
                                </time>
                            </div>
                            <div class="even-info">
                                <i class="fa fa-user-circle"></i>
                                <p>
                                    Administrator
                                </p>
                            </div>
                            <a href="#">See Detail</a>
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>