<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                    <!-- Page Heading -->
                    <div class="typo-line">
                        <div class="category">
                            <h1 class="pe-7s-note2"></h1>
                        </div>
                        <blockquote>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
                            </p>
                            <small>
                                Steve Jobs, CEO Apple
                            </small>
                        </blockquote>
                    </div>

                <div class="card">
                    <div class="header">
                        <h4 class="title">Striped Table with Hover</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Building</th>
                                        <th>QrCode</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Hello</td>
                                        <td>Hello</td>
                                        <td>Hello</td>
                                        <td>Hello</td>
                                        <td>
                                            <a href="" class="btn btn-danger">Print Qr</a>
                                        </td>
                                        <td>
                                            <a href="#Item_Detail" class="btn btn-warning" data-toggle="modal" data-target="#modal_detail<?php echo $row->id;?>">Detail</a>
                                            <a href="" class="btn btn-info">Edit</a>
                                            <!-- <a href="" class="btn btn-outline-danger">Delete</a> -->
                                        </td>
                                    </tr>
                                </tbody>
                          </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
