<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
                  <!-- Page Heading -->
                  <div class="typo-line">
                      <div class="category">
                          <h1 class="pe-7s-disk"></h1>
                      </div>
                      <blockquote>
                          <p>
                              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
                          </p>
                          <small>
                              Steve Jobs, CEO Apple
                          </small>
                      </blockquote>
                  </div>

              <div class="card">
                  <div class="header">
                      <div class="pull-left">
                        <h4 class="title">Striped Table with Hover</h4>
                        <p class="category">Here is a subtitle for this table</p>
                      </div>
                    
                      <button class='btn btn-primary pull-right'>Add Asset</button>
                  </div>
                  <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                              <thead>
                                  <tr>
                                      <th>ID Asset</th>
                                      <th>Nama</th>
                                      <th>Jumlah</th>
                                      <th>Kondisi</th>
                                      <th>Katetgori</th>
                                      <th>Status Kepemilikan</th>
                                      <th>Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>Hello</td>
                                      <td>Hello</td>
                                      <td>Hello</td>
                                      <td>Hello</td>
                                      <td>
                                         Hello
                                      </td>
                                      <td>Heklk</td>
                                      <td>
                                          <a href="#Item_Detail" class="btn btn-warning" data-toggle="modal" data-target="#modal_detail<?php echo $row->id;?>">Detail</a>
                                          <a href="" class="btn btn-info">Edit</a>
                                          <!-- <a href="" class="btn btn-outline-danger">Delete</a> -->
                                      </td>
                                  </tr>
                              </tbody>
                        </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
