<footer class="footer">
    <div class="container-fluid">
        <p class="copyright pull-right">
            Copyright &copy; {{test | date: 'yyyy'}} <a href="">Museum Prabu Geusan Ulun</a>
        </p>
    </div>
</footer>
